<h1> posts show page</h1>

 <ul>
        <li>
          <div class='post-card'>
            <div>
              <h3 class='title'>
                <%= @post.title %>
              </h3>
            </div>
            <p class='comment'>
              <%= @post.text %>
            </p>
            <div>
              <span>Comments:
                <%= @post.comments_counter %>
              </span>
              <span> Likes:
                <%= @post.likes_counter %>
              </span>
            </div>
            <div class="comment">
            <%= button_to 'Add Like', like_post_user_post_url(@post), method: "put" ,class:'like-btn'%>
            
            <% @post.comments.each do |comment| %>
              <div class='comment'>
            comment: <%= comment.text %> by: 
            <%= comment.user.name %>
            </div>
            <% if can? :destroy, comment %>
           <span> <%=button_to 'Delete Comment' , comment, method: :delete, data: { confirm: 'Are you sure?' }%></span> 
            <% end %>
            <% end %>
            
            </div>
          </div>
        </li>      
    </ul>

     <h1>Leave your comment here...</h1>
  <%= form_with url: new_comment_user_post_path do |form| %>
    <div class="mb-3">
      <%= form.text_area :text, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>